---
import { getRelativeLocaleUrl } from 'astro:i18n';

const contactURL = getRelativeLocaleUrl('en', 'contact');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <h1>BBON-EN</h1>
    <a href={contactURL}>contact</a>
    <a href="/de">de</a>
    <a href="/en">en</a>
  </body>
</html>
