---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import { useUiTranslation } from '../util/use-ui-translation';
---

<BaseLayout
  lang="de"
  title=`${await useUiTranslation('meta.title', 'de')} | ${await useUiTranslation('meta.subtitle', 'de')}`
  classes="wide"
>
  <!-- TODO: Titel irgendwo ausm Markdown ziehen -->
  <Button href=`${Astro.site}de/flyer/detention/abschiebehaft`>
    {useUiTranslation('wizard.isThereDangerQuestion', 'fr')}
  </Button>
  <Button direction="rtl">
    {useUiTranslation('wizard.isThereDangerQuestion', 'ar')}
  </Button>
  <Button direction="rtl">
    {useUiTranslation('wizard.isThereDangerQuestion', 'ur')}
  </Button>
  <Button href=`${Astro.site}de/flyer/detention/abschiebehaft`>
    {useUiTranslation('wizard.isThereDangerQuestion', 'de')}
  </Button>
  <Button> {useUiTranslation('wizard.isThereDangerQuestion', 'ka')} </Button>
  <Button> {useUiTranslation('wizard.isThereDangerQuestion', 'en')} </Button>
  <Button> {useUiTranslation('wizard.isThereDangerQuestion', 'es')} </Button>
</BaseLayout>
