---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Showcase</title>
  </head>
  <BaseLayout
    title="Design Showcase"
    lang="en"
  >
    <h1 class="">heading 1</h1>
    <h2 class="themed">heading 2</h2>
    <h3 class="themed">heading 3</h3>
    <h4 class="themed">heading 4</h4>
    <h5 class="themed">heading 5</h5>
    <h6 class="themed">heading 6</h6>
    <p>random text</p>
  </BaseLayout>


</html>
