---
import BaseLayout from '../layouts/BaseLayout.astro';
import Link from '../design/Link.astro';
import { useUiTranslation } from '../util/use-ui-translation';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Showcase</title>
  </head>
  <BaseLayout
    title="Design Showcase"
    lang="en"
  >
    <h1>UI translation</h1>
    <p>
      useUiTranslation('meta.subtitle', 'de') == {
        useUiTranslation('meta.subtitle', 'de')
      }
    </p>
    <p>
      useUiTranslation('meta.subtitle', 'en') == {
        useUiTranslation('meta.subtitle', 'en')
      }
    </p>
    <p>
      useUiTranslation('meta.subtitle', 'es') == {
        useUiTranslation('meta.subtitle', 'es')
      }
    </p>
    <p>
      useUiTranslation('FOOFOO', 'en') == {useUiTranslation('FOOFOO', 'en')}
    </p>

    <h1>ShortLinks</h1>
    <p>Without node running, astro will use meta-redirects.</p>
    <p>
      For now we can only use the raw links... later we want to reference the
      content independent of the language.
    </p>
    Usage:
    <pre>&#60;BbonLink link="asylnet_interview"/&#62;</pre>
    <ul>
      <li>
        <Link href={`${Astro.site}/link/asyldt`}>link/asyldt</Link>
      </li>
      <li>
        <Link href={`${Astro.site}/link/asyleng`}>link/asyleng</Link>
      </li>
      <li>
        <Link href={`${Astro.site}/link/fooo`}>link/fooo</Link>
      </li>
    </ul>
    <h1 class="">heading 1</h1>
    <h2 class="themed">heading 2</h2>
    <h3 class="themed">heading 3</h3>
    <h4 class="themed">heading 4</h4>
    <h5 class="themed">heading 5</h5>
    <h6 class="themed">heading 6</h6>
    <p>random text</p>
  </BaseLayout>


</html>
