---
import type { CollectionEntry } from 'astro:content';

import { useUiTranslation } from '../util/use-ui-translation';
import type { StandaloneCollections } from '../model/standalone-collections.ts';

interface Props {
  entry: CollectionEntry<StandaloneCollections>;
  isRootLevelContent?: boolean;
  isStrong?: boolean;
}

const { entry, isRootLevelContent = false, isStrong = true } = Astro.props;

// don't show the note, when the context already does
const showMachineTranslation =
  entry.data.machineTranslation &&
  !Astro.locals.machineTranslationNoteWasDisplayed;

if (isRootLevelContent) {
  Astro.locals.machineTranslationNoteWasDisplayed =
    entry.data.machineTranslation;
}

const Strong = `${isStrong ? 'strong' : 'em'}`;
---

<section>
  {
    showMachineTranslation && (
      <p role="note">
        <Strong>
          {useUiTranslation('meta.machineTranslation', entry.data.lang)}
        </Strong>
      </p>
    )
  }
  <slot />
</section>
