---
import type { CollectionEntry } from 'astro:content';

import LanguageChip from './LanguageChip.astro';
import Timestamp from './Timestamp.astro';
import type { StandaloneCollections } from '../../model/standalone-collections.ts';

interface Props {
  entry: CollectionEntry<StandaloneCollections>;
}

const { entry } = Astro.props;
---

<p>
  <LanguageChip
    lang={entry.data.lang}
    currentLang="de"
  />
  –
  <Timestamp
    lang={entry.data.lang}
    lastChecked={entry.data.lastChecked}
  />
</p>
