---
import { ColorVariants } from '../../model/color-variants.ts';

interface Props {
  size?: string;
  html: string;
  variant?: ColorVariants;
}

const { size = '1.5em', html, variant = 'primary' } = Astro.props;
---

<style>
  .-primary {
    --icon-color: var(--bbon-color-primary);
  }

  .-secondary {
    --icon-color: var(--bbon-color-secondary);
  }

  .-inverted-primary,
  .-inverted-secondary {
    --icon-color: var(--bbon-color-surface);
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    color: var(--icon-color);
    display: inline-block;
    flex-shrink: 0;
    fill: var(--icon-color);
  }
</style>

<div
  class={`icon -${variant}`}
  style={`width:${size}; height: ${size}`}
>
  <Fragment set:html={html} />
</div>
