---
import { type LanguagesValue } from '../../model/languages';
import { useUiTranslation } from '../../content/use-ui-translation.ts';

interface Props {
  lang?: LanguagesValue;
}

const { lang = Astro.locals.lang } = Astro.props;
---

<span>{useUiTranslation('meta.imprint', lang)}:</span>
<span class="ltr">
  Kontaktgruppe Asyl und Abschiebehaft e.V. Heinrich-Zille-Str. 6 01219 Dresden
</span>
