---
import type { CollectionEntry } from 'astro:content';
import type { MarkdownCollections } from '../../model/standalone-collections';

import { useUiTranslation } from '../../content/use-ui-translation';

interface Props {
  entry: CollectionEntry<MarkdownCollections>;
  isRootLevelContent?: boolean;
  isStrong?: boolean;
}

const { entry, isRootLevelContent = false, isStrong = true } = Astro.props;

// don't show the note, when the context already does
const showMachineTranslation =
  entry.data.machineTranslation &&
  !Astro.locals.machineTranslationNoteWasDisplayed;

if (isRootLevelContent) {
  Astro.locals.machineTranslationNoteWasDisplayed =
    entry.data.machineTranslation ?? false;
}

const Strong = `${isStrong ? 'strong' : 'em'}`;
---

{
  showMachineTranslation && (
    <p role="note">
      <Strong>
        {useUiTranslation('meta.machineTranslation', entry.data.lang)}
      </Strong>
    </p>
  )
}
