---

---

<style>
  .stack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--bbon-size-gap);
    justify-content: center;
    padding-top: var(--bbon-size-gap);

    > * {
      width: 40%;
    }

    @media screen and (width <= 768px) {
      & > * {
        width: 100%;
      }
    }
  }
</style>
<div class="stack">
  <slot />
</div>
