---
interface Props {
  href: string;
  direction?: 'rtl' | 'ltr';
  lang?: string;
}

const { href, direction = 'ltr', lang = 'de' } = Astro.props;
---

<style>
  a {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 0.5em;
    border: calc(var(--border-0) * 2) solid var(--color-primary);
    border-radius: calc(var(--shadow-0) * 0.5);
    box-shadow:
      var(--shadow-0) 7px 0 0 var(--color-primary),
      16px 19px 40px -31px rgb(0 0 0 / 40%),
      inset 1px 0 9px rgb(0 0 0 / 15%);

    /* Optically center the box, since the shadow is not part of the box-size  */
    margin: 1em calc(0.5 * var(--shadow-0)) 1em calc(-0.5 * var(--shadow-0));
    font-weight: 500;
    letter-spacing: normal;

    /* Add a very subtle background gradient between surface color and light grey an surface color */
    background: linear-gradient(
      110deg,
      var(--color-surface-3),
      var(--color-surface-3) 45%,
      #fff 50%,
      var(--color-surface-3) 55%,
      var(--color-surface-3)
    );
    background-size: 600%;
    animation: anime 2s linear infinite;
  }

  @keyframes anime {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  a:active {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    box-shadow:
      var(--shadow-0) 7px 0 0 var(--color-secondary),
      16px 19px 40px -31px rgb(0 0 0 / 40%),
      inset 1px 0 9px rgb(0 0 0 / 15%);
  }

  /* Turn background color lighter on hover, with short transition time */
  a:hover:not(.invalid) {
    background: #fff;
    transition: background 0.15s ease-in-out;

    /* just a proposal */
    transform: rotate(1deg);
  }

  /* TODO: focus state is not visible... */

  a.invalid {
    /*
     we have not implemented all the links yet, so we want to avoid confusion
     when there is no href we mark this card s invalid
     */
    color: currentcolor;
    cursor: not-allowed;
  }

  @media (width >= 1000px) {
    .big-button {
      width: 40%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
</style>
<!-- extract the styles from "h2" to reuse here-->

<a
  href={href}
  hreflang={lang}
  class={`big-button ${direction} h2 ${!href?.length ? 'invalid' : ''}`}
>
  <slot />
</a>
