---
import { DEFAULT_LANG, type LanguagesValue } from '../util/languages';

interface Props {
  href: string;
  lang?: LanguagesValue;
}

const { href, lang = DEFAULT_LANG } = Astro.props;

// FIXME Only replace from beginning of string
const site = Astro.site!.toString();
const pretty_print = href.replace('mailto:', '');
const pretty_screen = href
  .replace('mailto:', '')
  .replace(site, '')
  .replace('https://', '')
  .replace('http://', '');
---

<style>
  a {
    color: var(--color-primary);
    text-decoration: underline;
  }

  a:active {
    color: var(--color-secondary);
  }

  a:visited {
    color: var(--color-primary-bright);
  }

  @media print {
    a {
      text-decoration: none;
    }

    a:active {
      color: var(--color-primary);
    }

    a:visited {
      color: var(--color-primary);
    }

    /* The following two line replace the pretty name of the link with
    its href in print */
    a span {
      display: none;
    }

    a::after {
      content: attr(data-prettyhref);
    }
  }
</style>
<a
  href={href}
  hreflang={lang}
  data-prettyhref={pretty_print}
>
  <span>
    <slot>{pretty_screen}</slot>
  </span>
</a>
