---
interface Props {
  href: string;
  lang?: string;
}

const { href, lang = 'de' } = Astro.props;
const pretty = href.replace('mailto:', '');
---

<style>
  a {
    color: var(--color-primary);
    text-decoration: underline;
  }

  a:active {
    color: var(--color-secondary);
  }

  a:visited {
    color: var(--color-primary-bright);
  }

  @media print {
    a {
      text-decoration: none;
    }

    a:active {
      color: var(--color-primary);
    }

    a:visited {
      color: var(--color-primary);
    }

    /* The following two line replace the pretty name of the link with
    its href in print */
    a span {
      display: none;
    }

    a::after {
      content: attr(data-prettyhref);
    }
  }
</style>
<a
  href={href}
  hreflang={lang}
  data-prettyhref={pretty}
>
  <span>
    {/* TODO: we could strip the protocol here  */}
    <slot>{href}</slot>
  </span>
</a>
