---
interface Props {
  href: string;
  lang?: string;
}

const { href, lang = 'de' } = Astro.props;
---

<style>
  a {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-style: dashed;
    border-width: 0 0 var(--size-border) 0;
    text-decoration: none;
    padding-inline: calc(var(--size-border) * 2);
  }

  a:hover,
  a:focus {
    padding-inline: var(--size-border);
    border-width: var(--size-border);
  }

  a:active {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  a:visited {
    color: var(--color-primary-2);
    border-color: var(--color-primary-2);
  }
</style>
<a
  href={href}
  hreflang={lang}
>
  {/* TODO: we could strip the protocol here  */}
  <slot>{href}</slot>
</a>
