---
import CardButton from './CardButton.astro';

// TODO: we need random #id if we have many popovers
// const randomIdPart = crypto.randomUUID();
---

<style>
  #popover {
    border: var(--bbon-size-border) solid var(--bbon-color-secondary);
    border-radius: var(--bbon-size-border);
    padding: var(--bbon-size-spacing);
    background-color: var(--bbon-color-surface-dark);
    color: var(--bbon-color-secondary-dark);
    animation: fadein 0.5s;
    position: absolute;
    margin: 0;
  }

  @keyframes fadein {
    from {
      inset-inline-start: 100vh;
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>

<CardButton id="popover-button"><slot name="button" /></CardButton>
<div
  popover
  id="popover"
>
  <div id="popover-content">
    <slot />
  </div>
</div>
<script>
  const shareButton: HTMLElement = document.querySelector('#popover-button')!;
  const sharePopover: HTMLElement = document.querySelector('#popover')!;

  shareButton?.addEventListener('click', () => {
    sharePopover.showPopover();
    sharePopover.style.left = `${shareButton.offsetLeft + shareButton.clientWidth}px`;
    sharePopover.style.top = `${shareButton.offsetTop}px`;
  });
</script>
