---
interface Props {
  breakBefore?: boolean;
  breakAfter?: boolean;
}
const { breakBefore = false, breakAfter = false } = Astro.props;
---

<style>
  .page {
    break-inside: avoid;

    &.-break-after {
      page-break-after: always;
    }

    &.-break-before {
      page-break-before: always;
    }
  }
</style>

<div
  class={`page${breakBefore ? ' -break-before' : ''}${breakAfter ? ' -break-after' : ''}`}
>
  <slot />
</div>
