---
interface Props {
  breakBefore?: boolean;
  breakAfter?: boolean;
}
const { breakBefore = false, breakAfter = false } = Astro.props;
---

<style>
  @page {
    margin: 10mm;
    size: a5 portrait;
  }

  @page :first {
    /* Make space for footer */
    margin-bottom: 10mm;
  }

  html {
    /* Good base size for printing */

    /* FIXME: i think this needs to be global */
    font-size: 8pt;
  }

  .page {
    break-inside: avoid;

    /* this is for the logo: it needs to be primary */
    --color-surface: var(--color-primary);

    &.-break-after {
      page-break-after: always;
    }

    &.-break-before {
      page-break-before: always;
    }

    footer {
      position: absolute;
      bottom: 0;
    }
  }
</style>

<div
  class={`page${breakBefore ? ' -breakBefore' : ''}${breakAfter ? ' -break-after' : ''}`}
>
  <slot />
</div>
