---
interface Props {
  breakBefore?: boolean;
  breakAfter?: boolean;
}
const { breakBefore = false, breakAfter = false } = Astro.props;
---

<style>
  @page {
    /* TODO: Take real margins from PDF */
    margin: 1cm;
    size: a5 portrait;
  }

  .page {
    break-inside: avoid;

    &.-break-after {
      page-break-after: always;
    }

    &.-break-before {
      page-break-before: always;
    }

    footer {
      /* FIXME Use position relative and bottom:0 to position this */
      margin-top: 10em;
    }
  }
</style>

<div
  class={`page${breakBefore ? ' -breakBefore' : ''}${breakAfter ? ' -break-after' : ''}`}
>
  <slot />
</div>
