---
interface Props {
  breakBefore?: boolean;
  breakAfter?: boolean;
}
const { breakBefore = false, breakAfter = false } = Astro.props;
---

<style>
  @page :first {
    margin: 0;
    size: a5 portrait;
  }

  @page {
    margin: 1cm;
    size: a5 portrait;
  }

  .page {
    break-inside: avoid;

    &.-break-after {
      page-break-after: always;
    }

    &.-break-before {
      page-break-before: always;
    }
  }
</style>

<div
  class={`page${breakBefore ? ' -breakBefore' : ''}${breakAfter ? ' -break-after' : ''}`}
>
  <slot />
</div>
