/* 
* GENERAL STYLES
*/
:root {
  --bbon-color-primary: lch(28.229% 58.73 285.304deg);
  --bbon-color-primary-dark: color-mix(
    in lch,
    var(--bbon-color-primary) 80%,
    black
  );
  --bbon-color-primary-bright: color-mix(
    in lch,
    var(--bbon-color-primary) 70%,
    white
  );
  --bbon-color-secondary: lch(55% 90.4 42deg);
  --bbon-color-secondary-dark: color-mix(
    in lch,
    var(--bbon-color-secondary) 58%,
    black
  );
  --bbon-color-secondary-bright: color-mix(
    in srgb,
    var(--bbon-color-secondary) 90%,
    white
  );
  --bbon-color-surface: #fff;
  --bbon-color-surface-dark: #ededf5d4;

  /** @deprecated */

  --bbon-size-p: 16px;
  --bbon-size-p-line: 1.6;
  --bbon-size-h1: 2.4rem;
  --bbon-size-h1-line: 1.2;
  --bbon-size-h2: 1.6rem;
  --bbon-size-h3: 1.5rem;
  --bbon-size-h4: 1rem;
  --bbon-size-spacing: 0.3em;
  --bbon-size-gap: 1em;
  --bbon-size-shadow-spread: 10px;
  --bbon-size-border: 4px;
  --bbon-size-max-text-span: 80ch;
}

p {
  font-size: var(--bbon-size-p);
  margin: var(--bbon-size-spacing) 0;
}

/* TODO: Extract to Heading component */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  letter-spacing: -0.02em;
  word-break: auto-phrase;
  font-size: var(--bbon-size-h4);
  line-height: var(--bbon-size-h1-line);
  margin: var(--bbon-size-spacing) 0;
}

.h1,
h1 {
  font-size: var(--bbon-size-h1);
}

.h2,
h2 {
  font-size: var(--bbon-size-h2);
  margin-block-start: var(--bbon-size-gap);
}

.h3,
h3 {
  font-size: var(--bbon-size-h3);
}

/* TODO: Extract to List component */

dl,
ol,
ul {
  margin: var(--bbon-size-spacing) 1em;
  padding: 0;
}

ul {
  list-style: disc outside;
}

li {
  margin: var(--bbon-size-spacing) 0;
}

/**
* Utility
*/

.hidden {
  display: none !important;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

/* Fit To Width Utilities for pdf flyers
https://kizu.dev/fit-to-width/
*/

.text-fit {
  display: flex !important;
  container-type: inline-size;

  --captured-length: initial;
  --support-sentinel: var(--captured-length, 9999px);
  --max-font-size: initial;

  & > [aria-hidden] {
    visibility: hidden;
  }

  & > :not([aria-hidden]) {
    flex-grow: 1;
    container-type: inline-size;

    --captured-length: 100cqi;
    --available-space: var(--captured-length);

    & > * {
      --support-sentinel: inherit;
      --captured-length: 100cqi;
      --ratio: tan(
        atan2(
          var(--available-space),
          var(--available-space) - var(--captured-length)
        )
      );
      --font-size: clamp(
        1em,
        1em * var(--ratio),
        var(--max-font-size, calc(infinity * 1px)) - var(--support-sentinel)
      );

      inline-size: var(--available-space);

      &:not(.text-fit) {
        display: block;
        font-size: var(--font-size);

        @container (inline-size > 0) {
          white-space: nowrap;
        }
      }

      &.text-fit {
        --captured-length2: var(--font-size);

        font-variation-settings: 'opsz' tan(atan2(var(--captured-length2), 1px));
      }
    }
  }
}

@property --captured-length {
  syntax: '<length>';
  initial-value: 0;
  inherits: true;
}

@property --captured-length2 {
  syntax: '<length>';
  initial-value: 0;
  inherits: true;
}
