---
import { type LanguagesValue } from '../util/languages';
import { getLanguageDirection } from '../util/get-language-direction';

interface Props {
  lang: LanguagesValue;
  format?: 'web' | 'a4' | 'a6';
}

const { lang, format = 'web' } = Astro.props;
---

<body class={`${getLanguageDirection(lang)} ${format}`}>
  <slot />
</body>
