---
import { type LanguagesValue } from '../util/languages.enum';
import { getLanguageDirection } from '../util/get-language-direction';

interface Props {
  lang: LanguagesValue;
}

const { lang } = Astro.props;
---

<body class={`${getLanguageDirection(lang)}`}>
  <slot />
</body>
