---
import { type LanguagesValue } from '../util/languages';
import { getLanguageDirection } from '../util/get-language-direction';

interface Props {
  lang: LanguagesValue;
}

const { lang } = Astro.props;
---

<style>
  body {
    font-family: FiraGO, sans-serif;
    background: var(--bbon-color-surface);
    margin: 0;
    color: var(--bbon-color-primary);
  }
</style>
<body class={`${getLanguageDirection(lang)}`}>
  <slot />
</body>
