---
interface Props {
  format?: 'web' | 'a4' | 'a6';
  /**
   * TODO: extract type or reuse
   *
   * classList takes an array of several different possible value kinds:
   * - string: Added to the element class
   * - Object: All truthy keys are added to the element class
   * - Array: flattened
   * - Set: flattened
   **/
  classList?: (string | object | Array<string>)[];
}

const { format = 'web', classList = [] } = Astro.props;
---

<body class:list={[format, ...classList]}>
  <slot />
</body>
