---
import { type LanguagesValue } from '../model/languages';

import WebLayout from './WebLayout.astro';

import { useUiTranslation } from '../util/use-ui-translation';

interface Props {
  title: string;
  lang: LanguagesValue;
  canonicalSlug?: string;
  translationSlugs?: Array<{
    lang: LanguagesValue;
    url: string;
  }>;
}

const { title, lang, canonicalSlug, translationSlugs = [] } = Astro.props;

import './theme-web.css';
---

<style>
  .content-wrapper {
    display: flex;
    justify-content: center;

    main {
      padding: var(--bbon-size-gap);
      overflow: auto;

      /*
      padding g so the language switcher has enough room
       */
      padding-block-end: calc(
        var(--bbon-size-gap) + 2 * var(--bbon-size-spacing) + 1.5em
      );
    }
  }
</style>

<WebLayout
  title={title}
  lang={lang}
  seo={await useUiTranslation('meta.infosAgainstDeportation', lang)}
  canonicalSlug={canonicalSlug}
  translationSlugs={translationSlugs}
>
  <div class="content-wrapper">
    <main>
      <slot />
    </main>
  </div>
</WebLayout>
