---
import BaseBody from './BaseBody.astro';
import BaseHtml from './BaseHtml.astro';

const { lang, title } = Astro.props;
---

<BaseHtml lang={lang}>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <BaseBody lang={lang}>
    <slot />
  </BaseBody>
</BaseHtml>
