---
import { type LanguagesValue } from '../util/languages';

import BaseBody from './BaseBody.astro';
import BaseHtml from './BaseHtml.astro';

interface Props {
  title: string;
  lang: LanguagesValue;
}

const { lang, title } = Astro.props;
---

<style>
  :root {
    --base-font-size: 10pt;
  }
</style>

<BaseHtml lang={lang}>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <BaseBody lang={lang}>
    <slot />
  </BaseBody>
</BaseHtml>
