:root {
  --bbon-hyphens-p: auto;
  --bbon-size-border: 1pt;
  --bbon-size-gap: 1em;
  --bbon-size-h1: 28pt;
  --bbon-size-h2-margin-start: 0.5em;
  --bbon-size-h2: 1.2rem;
  --bbon-size-h3: 1rem;
  --bbon-size-h4: 1rem;
  --bbon-size-heading-line: 1.2;
  --bbon-size-heading-spacing: 0.2em;
  --bbon-size-list-inset: 2pt;
  --bbon-size-max-text-span: 80ch;
  --bbon-size-mini: 6pt;
  --bbon-size-p-line: 1.2;
  --bbon-size-p: 9pt;
  --bbon-size-shadow-spread: 10px;
  --bbon-size-spacing: 0.2em;
  --bbon-font-weight-normal: 400;
  --bbon-font-weight-bold: 500;
  --bbon-font-weight-bolder: 700;

  .a4 {
    --bbon-size-mini: var(--bbon-size-p);
    --bbon-size-h2-margin-start: 1.5em;
    --bbon-size-h2: 2rem;
    --bbon-size-h3: 1.5rem;
    --bbon-size-h4: 1.3rem;
    --bbon-size-heading-line: 1.5;
    --bbon-size-heading-spacing: 0.7em;
    --bbon-size-gap: 2em;
    --bbon-size-spacing: 0.5em;
  }

  .a6 {
    /* no special styles */
  }
}
