/* 
* GENERAL STYLES
*/
html {
  font-family: FiraGO, sans-serif;
  font-size: var(--bbon-size-p);
  font-weight: var(--bbon-font-weight-normal, normal);
  hyphenate-limit-chars: auto 5;
  line-height: var(--bbon-size-p-line);
  overflow-wrap: break-word;
  scroll-padding-block-start: calc(var(--bbon-size-p) * 6);
}

body {
  background: var(--bbon-color-surface);
  margin: 0;
  color: var(--bbon-color-primary);
}

p {
  font-size: var(--bbon-size-p);
  margin: var(--bbon-size-spacing) 0;
  hyphens: var(--bbon-hyphens-p);
}

/* TODO: Extract to Heading component */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(--bbon-font-weight-bold, bold);
  letter-spacing: -0.02em;
  word-break: auto-phrase;
  font-size: var(--bbon-size-h4);
  line-height: var(--bbon-size-heading-line);
  margin: var(--bbon-size-heading-spacing) 0;
}

.h1,
h1 {
  font-size: var(--bbon-size-h1);
}

.h2,
h2 {
  font-size: var(--bbon-size-h2);
  margin-block-start: var(--bbon-size-h2-margin-start);
}

.h3,
h3 {
  font-size: var(--bbon-size-h3);
}

/* TODO: Extract to List component */

dl,
ol,
ul {
  margin: var(--bbon-size-border) 1em;
  padding: 0;
  padding-inline-start: var(--bbon-size-list-inset);
}

ul {
  list-style: disc outside;
}

li {
  margin: var(--bbon-size-spacing) 0;
  hyphens: var(--bbon-hyphens-p);

  &::before {
    /* small hack to reduce the distance between marker and content */
    content: '';
    margin-inline-start: calc(-3 * var(--bbon-size-list-inset));
  }
}

/**
* Utility
*/

.hidden {
  display: none !important;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

/* Fit To Width Utilities for pdf flyers
https://kizu.dev/fit-to-width/
*/

.text-fit {
  display: flex !important;
  container-type: inline-size;

  --captured-length: initial;
  --support-sentinel: var(--captured-length, 9999px);
  --max-font-size: initial;

  & > [aria-hidden] {
    visibility: hidden;
  }

  & > :not([aria-hidden]) {
    flex-grow: 1;
    container-type: inline-size;

    --captured-length: 100cqi;
    --available-space: var(--captured-length);

    & > * {
      --support-sentinel: inherit;
      --captured-length: 100cqi;
      --ratio: tan(
        atan2(
          var(--available-space),
          var(--available-space) - var(--captured-length)
        )
      );
      --font-size: clamp(
        1em,
        1em * var(--ratio),
        var(--max-font-size, calc(infinity * 1px)) - var(--support-sentinel)
      );

      inline-size: var(--available-space);

      &:not(.text-fit) {
        display: block;
        font-size: var(--font-size);

        @container (inline-size > 0) {
          white-space: nowrap;
        }
      }

      &.text-fit {
        --captured-length2: var(--font-size);

        font-variation-settings: 'opsz' tan(atan2(var(--captured-length2), 1px));
      }
    }
  }
}

@property --captured-length {
  syntax: '<length>';
  initial-value: 0;
  inherits: true;
}

@property --captured-length2 {
  syntax: '<length>';
  initial-value: 0;
  inherits: true;
}
