---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllExternalLinksEntries } from '../../util/get-flat-links-entries';

const linkEntries = await getAllExternalLinksEntries();
---

<BaseLayout
  title="INTERNAL LINK CHECK"
  seo=""
  lang="de"
  allowIndexing={false}
>
  <ul>
    {
      linkEntries.map((entry) => (
        <li>
          {entry.filePath} : {entry.url}
        </li>
      ))
    }
  </ul>
</BaseLayout>
