name: Verify

# on all pushes but the main!
on:
  push:
    branches:
      - '**'
      - '!main'

# it's faster to check out and install again and again, as it will run in parallel
jobs:
  stylelint:
    name: Lint with stylelint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - run: npm run stylelint

  prettier:
    name: Lint with prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - run: npx prettier -c "**/*.astro" "**/*.ts" "**/*.css" "**/*.md"

  eslint:
    name: Lint with eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - run: npx eslint --config eslint.config.js

  check:
    name: Check with astro
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - run: npm run check

  test:
    name: Test with vitest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - run: npm run test

  build:
    name: Build with astro
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - run: npm run build
