name: Verify

# on all pushes but the main!
on:
  push:
    branches:
      - '**'
      - '!main'

# it's faster to check out and install again and again, as it will run in parallel
jobs:
  stylelint:
    name: Lint with stylelint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-install
      - run: npm run stylelint:ci

  prettier:
    name: Lint with prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-install
      - run: npm run prettier

  eslint:
    name: Lint with eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-install
      - run: npm run eslint

  check:
    name: Check with astro
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-install
      - run: npm run check

  test:
    name: Test with vitest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-install
      - run: npm run vitest

  build:
    name: Build with astro
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-install
      - run: npm run build

  e2e:
    name: Test with playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-install
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
